@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Gilroy Extrabold";
  src: local("Gilroy Extrabold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Gilroy Light";
  src: local("Gilroy Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans";
  src: local("Open Sans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: "Open Sans Light";
  src: local("Open Sans Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #464646;
  font-size: 15px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  background-color: rgb(240, 197, 46);
  color: #000000;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-size: 18px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  line-height: 24px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: rgb(240, 197, 46);
}

.btn:active {
  background-color: rgb(240, 197, 46);
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation ul,
.new-product ul,
.product .product-list,
.service .service-list,
.brands .brands-list,
.footer-middle .site-navigation,
.main-footer .user-login,
.main-footer .footer-social-btn {
  list-style: none;
}

.main-header-logo,
.footer-logo {
  color: #000000;
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  line-height: 48px;
}

.main-header-logo:hover,
.main-header-logo:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-logo:active,
.user-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

input[type="search"] {
  border: none;
  background-color: transparent;
  font: inherit;
  opacity: 0.3;
}

input[type="search"]:hover {
  opacity: 0.6;
}

input[type="search"]:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
}

input[type="search"] + button {
  border: 2px solid #000000;
  background-color: transparent;
  vertical-align: middle;
  text-align: center;
  font: inherit;
}

input[type="search"] + button:hover,
input[type="search"] + button:focus {
  background-color: #000000;
  color: #ffffff;
}

input[type="search"] + button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation a {
  color: #000000;
}

.user-login .current {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-size: 18px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  line-height: 24px;
}

.site-navigation-catalog a {
  text-transform: none;
  letter-spacing: 0;
  font-size: 15px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  line-height: 36px;
}

.new-product-item h3 {
  color: #000000;
  font-size: 47px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  line-height: 56px;
}

.new-product-features span {
  color: #000000;
  font-size: 36px;
  font-family: "Gilroy Light", "Arial", sans-serif;
  line-height: 48px;
}

.new-product-features p {
  font-size: 13px;
  line-height: 20px;
}

.new-product-item .slide-number {
  background-color: rgba(240, 197, 46, 0.5);
  color: #ffffff;
  font-size: 179.2px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  line-height: 179.2px;
}

.product-item a,
.modal-write-us label {
  color: #000000;
  font-size: 18px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  line-height: 24px;
}

.product-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.service {
  background-color: #e5e5e5;
}

.service-btn .btn:active {
  background-color: #000000;
  color: #f7e184;
}

.service-btn .btn.current {
  background-color: #000000;
  color: #f7e184;
}

.service-item h3,
.about-company h2,
.contatcs h2 {
  color: #000000;
  font-size: 47px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  line-height: 48px;
}

.service-item:nth-of-type(1) {
  background-image: url("../img/delivery.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.service-item:nth-of-type(2) {
  background-image: url("../img/warranty.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.service-item:nth-of-type(3) {
  background-image: url("../img/credit.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.about-company .transport-commany-item {
  color: #000000;
  font-size: 16px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  line-height: 40px;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-logo {
  color: rgb(255, 198, 0);
}

.footer-logo:hover,
.footer-logo:focus {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-top a:not(.footer-logo):not(.current) {
  color: rgba(255, 255, 255, 0.7);
}

.footer-top a:not(.footer-logo):hover,
.footer-top a:not(.footer-logo):focus {
  color: rgb(255, 255, 255);
}

.footer-top a:not(.footer-logo):active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-top .current {
  color: rgba(255, 255, 255, 0.3);
}

.footer-middle a {
  color: #ffffff;
}

.footer-middle a:hover,
.footer-middle a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-middle a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-btn a {
  color: #ffffff;
}

.footer-bottom .footer-copyright:hover,
.footer-bottom .footer-copyright:focus {
  opacity: 0.6;
}

.footer-bottom .footer-copyright:active {
  opacity: 0.3;
}

.modal-write-us input,
.modal-write-us textarea {
  border: none;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 18px;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  border: 3px solid rgba(240, 197, 46, 0.5);
  background-color: transparent;
}

.modal-write-us input:invalid,
.modal-write-us textarea:invalid {
  border: 3px solid #f6dada;
  background-color: #f6dada;
}
